  body{
    background-color: orange;
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
  }
#text{
  text-align: center;
}
#left{
  text-align: left;
}
  #background{
    background-color: orange;
  }
  .black-border{
    border-color: black;
    border-width: 10px;
    border-style: dotted;
    border-radius: 50%;
  }
@media only screen and (max-width: 768px) {
  body {
    background-size: 90vw auto;
    margin: 0px;
  }
  #img{
    width: 90vw auto;
    height: 90vw auto;
  }
}
