  body{
    background-color: orange;
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
  }
#text{
  text-align: center;
}
#left{
  text-align: left;
}
  #background{
    background-color: orange;
  }
  .black-border{
    border-color: black;
    border-width: 10px;
    border-style: dotted;
    border-radius: 50%;
  }
